.segment{
    width: 100%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.segment-content{
    width: 500px;
}

.container-image{
    display: grid;
    grid-template-columns: 40% 60%;
}

.table-statistic{
    margin: 0 10px
}

.view-count_container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.chart, .table-statistic{
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.statistic-number{
    text-align: center;
    margin: 10px;
    height: 100px;
    width: 100px;
    background-color: white;
    border-radius: 20px;
    font-size: 55px;
    font-weight: bold;
}

.no-comment{
    text-align: center;
    
}

.list-rate-container{
    display: flex;
    background-color: white;
    width: 1000px;
    margin: 10px;
    padding: 10px;
}

.statistic-container-admin{
    display: flex;
    width: 800px;
    /* text-align: center; */
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
}

.title-statistic{
    text-align: center;
    font-size: xx-large;
    font-weight: 700;
}
.content-container{
    /* padding: 20px; */
    width: 500px;
    height: 400px; 
    margin-top: 20px;
    background-color: white;
    border-radius: 20px;
}

.statistic-company-container{
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.title-statistic-company{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    font-weight: 800;
}

.statistic_container{
    display: grid;
    grid-template-columns: 50% 50%;
}
